<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :representative_id %><br>
    <%= f.number_field :representative_id %>
  </div>
  <div class="field">
    <%= f.label :seat_id %><br>
    <%= f.number_field :seat_id %>
  </div>
  <div class="field">
    <%= f.label :startterm %><br>
    <%= f.datetime_select :startterm %>
  </div>
  <div class="field">
    <%= f.label :endterm %><br>
    <%= f.datetime_select :endterm %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
