<%= form_for(@cycle) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :startcycle %><br>
    <%= f.datetime_select :startcycle %>
  </div>
  <div class="field">
    <%= f.label :endcycle %><br>
    <%= f.datetime_select :endcycle %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
